<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>서재</title>
</head>
<style>
  th, td {padding: 10px;}
</style>
<body>
<h2>나의 서재</h2>
<br><br>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이메일</th>
        <th>ISBN</th>
        <th>상태</th>
        <th>page</th>
        <th>기대평</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book,bookStat : ${books}">
        <td th:text="${bookStat.count}"></td>
        <td th:text="${book.email}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.con}"></td>
        <td th:text="${book.mark}"></td>
        <td th:text="${book.hope}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>